body{
    background-color:rgb(5, 33, 42);
    color: azure;
}


h1{  font-style: italic;
    color: rgb(106, 153, 141) ;
}

h1:hover { 
    color:rgb(53, 119, 89);
    background-color: rgb(160, 201, 201);
}

h2{ font-style: oblique;
    color:rgb(106, 153, 141) ;

}

hr{
    border-style: none;
    border-top-style:dotted;
    border-color:rgb(255, 255, 255) ;
    border-width: 5px;
    width: 20%;
}

#txt{
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-family:monospace;
    border: 2px solid rgb(160, 235, 68) ;
    padding:4px; 
    border-radius: 15px;
    color: rgb(160, 235, 68) ;
    
    
}
